$primaire: #9356DC;
$secondaire: #FF79DA;
$tertiaire: #99E2D0;
$texte:rgb(114, 113, 113);
$cadre:rgba(245, 244, 244, 0.986);
$ombre:($texte +70%) 0px 5px 10px;
$degrade:linear-gradient(to bottom right, $secondaire, $primaire);
