.logo
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.logo img
{
    width: 45%;
    height: 35px;
    margin-top: 20px;
}
footer
{
    height: 240px;
    width: 100%;
    background-color:black;
}
.logofooter p
{
    font-family: "shrikhand", impact, serif;
    font-size: 18px;
    color: white;
    width: 35%;
    padding-top: 30px;
    margin-left: 30px;
}
.menu_footer
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 15px;
    margin-left: 30px;
    line-height: 30px;
    width: 55%;
}
.menu_footer ul
{
    list-style-type: none;
    font-size: 15px;
}
.menu_footer a
{
    color: white;
    text-decoration: none;
}
.menu_footer i
{
    width: 10px;
    margin-right: 15px;
    font-size: 15px;
}




