.main
{
    background: $cadre;
    border-radius: 30px 30px 0 0;
    width: 100%;
    height: 1150px;
    position: relative;
    margin-top: -15%;
    padding-top: 35px;
}
.header
{
    display: flex;
    width: 100%;
    height: 50px;
}
.fleche
{
    margin-top: 25px;
    margin-left: 20px;
    color: black;
}
.photo_menu img
{
    object-fit: cover;
    width: 100%;
    height: 225px;
    margin-top: 20px;
}
.titre
{
    display: flex;
    align-items: center;

}
    .titre h1
    {
        font-family: "Shrikhand", cursive;
        font-size: 25px;
        margin-left: 30px;
    }
    .coeur i
    {
        font-size: 25px;
        margin-top: -15px;
        margin-left: 50px;
        position: absolute;
    }
        .coeurvide
        {
            color: $texte;
            opacity: 1;
        }
        .coeurrempli
        {
            opacity: 0;
        }
        .coeur:hover
        {
            .coeurrempli
            {
            opacity: 1;
            background: linear-gradient(0deg, $secondaire, $primaire);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            }
            .coeurvide
            {
            opacity: 0;
            }
        }
.detailmenu
{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    height:900px;
    margin-bottom: 50px;
    justify-content: space-between;
}
    .detailmenu h2
    {
        font-size: 16px;
        margin-left: 20px;
        margin-top: 20px;
        border-bottom: solid $tertiaire;
        padding-bottom: 5px;
        margin-bottom: -5px;
        width: 45px;
        color: $texte;
    }
   
    .blocmenu
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 95%;
        height: 250px;
        margin-top: 20px;

        &--note
        {
            height: 340px;
        }
        &--entree
        {
            animation: apparition-menu 3s;
        }
        &--plat
        {
            animation: apparition-menu 7s;
        }
        &--dessert
        {
            animation: apparition-menu 11s;
        }
}
@keyframes apparition-menu{
    0%{
    opacity: 0;  
    transform: translateY(5vh);
    }
    100%{
    opacity: 1;
    transform: translateY(0);
    }
}

.menu
{
    display: flex;
    background-color: white;
    border-radius: 20px;
    flex-direction: column;
    flex-wrap: wrap;
    width: 95%;
    height: 60px;
    justify-content: space-around;
    padding-left: 10px;
    margin-left: 20px;
}
    .totaldescription
    {
        width: 100%;
        height: 100%;
    }
    h4
    {
        font-size: 16px;
        font-weight: 800;
        width: 100%;
        margin-top: 10px;
        color: black;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .descriptiontarif
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 14px;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .description_menu
    {
        color: $texte;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .tarif
    {
        display: flex;
        font-weight: 800;
        margin-right: 15px;
        color: black;
        
    }
    .valide
    {
        display: flex;
        width: 100%;
        color: transparent;
        transform: rotate(0turn) translate(0px);
        
        ;
    }
    .menu:hover
    {
        box-shadow: grey 6px 6px 6px;

        .valide
        {
            color: white;
            background-color: $tertiaire;
            width: 50px;
            height: 60px;
            align-items: center;
            justify-content: center;
            padding: 4px;
            border-radius: 0 20px 20px 0;
            transform: translate(-49px, 0);
        }
        .valide i
        {
            font-size: 18px;
            align-items: center;
            justify-content: center;
            transform: rotate(1turn);
            transition: 1000ms;
        }
        .tarif
        {
            margin-right: 60px;
        }
    }
.bouton
{
    display: flex;
    justify-content: center;
}
    .bouton button
    {
        margin-bottom: 40px;
        padding: 15px 50px;
        border-radius: 40px;
        background: $degrade;
        border: none;
    }
    .bouton a button
    {
        text-decoration: none;
        color: white;
        font-size: 16px;
    }
    .bouton a button:hover
    {
        box-shadow: $texte 0px 7px 15px;
        filter: brightness(1.1);
    }
@media screen and (min-width: 768px)and (max-width: 1293px) 
{
    .photo_menu img
    {
        height: 270px;
    }
    .fleche
    {
        margin-left: 50px;
    }
    .main
    {
        display: flex;
        flex-direction: column;
        padding-left: 50px;
        margin-top: -30px;
        padding-right: 40px;
    }
}
@media screen and (min-width: 1294px)
{
    .photo_menu img
    {
        height: 300px;
        width: 100%;
    }
    .fleche
    {
        margin-left: 90px;
    }
    .logo
    {
        margin-right: 100px;
    }
    .main
    {
        display: flex;
        height: 650px;
        flex-direction: column;
        margin-top: -10px;
        border-radius: 0%;
        align-items: center;
    }
    .titre
    {
        width: 70%;
        margin-left: -50px;
        justify-content: center;
    }
    .titre h1
    {
        font-size: 30px;
    }
    .coeur i
    {
        font-size: 30px;
        padding: 2px;
    }
    .menu
    {
        height: 70px;
        width: 100%;
        margin: 0;
    }
    .detailmenu h2
    {
        font-size: 25px;
        height: 40px;
        width: 4%;
        margin-top: 20px;
        margin-left: 50px;
        border-bottom: solid $tertiaire;
    }
    .detailmenu
    {
        width: 100%;
        height: 700px;
        flex-direction: row;
        margin: 0%;
        padding: 0;
    }
    .blocmenu
    {
        height: 330px;
        width: 50%;
        margin-top: 80px;
        margin-left: -80px;
        margin-right: 50px;
        padding: 0;
        flex-direction: column;
    }
    .descriptiontarif
    {
        height: 70px;
    }
    h4
    {
        font-size: 20px;
        margin-left: 20px;
        margin-top: 10px;
    }
    
    .description_menu
    {
        font-size: 18px;
        margin-left: 20px;
        margin-top: 0px;
    }
    .tarif
    {
        font-size: 20px;
        margin-right: 20px;
    }
    .menu:hover
    {
        .valide
        {
            height: 70px;
        }
    }
    .bouton button
    {
        width: 300px;
        font-size: 20px;
        margin-top: 50px;
    }
    .bouton a button
    {
        font-size: 20px;
    }
}