main
{
    background: $cadre;
    border-radius: 30px 30px 0 0;
    width: 100%;
    height: 1150px;
    position: relative;
    margin-top: -15%;
    padding-top: 35px;
}
.header
{
    display: flex;
    width: 100%;
    height: 50px;
}
.fleche i
{
    margin-top: 25px;
    margin-left: 20px;
    color: black;
}
.photo_menu img
{
    object-fit: cover;
    width: 100%;
    height: 50%;
    margin-top: 20px;
}
.titre
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.titre h1
{
    font-family: "shrikhand", impact, serif; 
    font-size: 25px;
    margin-left: -30px;
}
.coeur i
{
    font-size: 25px;
    margin-top: -12px;
    position: absolute;
}
.coeurvide i
{
    color: $texte;
}
.coeurrempli i
{
    color: transparent
}
.detailmenu
{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    height: 900px;
    margin-bottom: 50px;
    justify-content: space-between;
}
.detailmenu h2
{
    margin-bottom: 20px;
    font-size: 16px;
    margin-left: 20px;
    border-bottom: solid $tertiaire;
    padding-bottom: 5px;
    margin-bottom: -5px;
    width: 45px;
    color: $texte;
}
h4
{
    font-size: 16px;
    font-weight: 800;
    width: 100%;
    margin-top: 10px;
    color: black;
}
.blocmenu
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 220px;
    transition: 2s;
}
.menu
{
    display: flex;
    background-color: white;
    border-radius: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    height: 60px;
    justify-content: space-around;
    padding-left: 10px;
    margin-left: 20px;
    box-shadow: $ombre;
}
.descriptiontarif
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
    width: 100%;
    height: 35px;
}
.description_menu
{
    color: $texte;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tarif
{
    font-weight: 800;
    color: black;
}
.valide
{
    display: flex;
    color:transparent;
    transform: rotate(0turn);
}
.menu:hover
{
    box-shadow: grey 6px 6px 6px;

    .valide
    {
    color: white;
    align-items: center;
    justify-content: center;
    margin-top: -32px;
    margin-left: 20px;
    height: 61px;
    padding: 13px;
    border-radius: 0 20px 20px 0;
    background-color: $tertiaire;
    transition: 2000ms translateX(0,0);
    }
    .valide i
    {
        font-size: 20px;
    transform: rotate(1turn);
    transition: 900ms;
    }
}
.bouton
{
    display: flex;
    justify-content: center;
}
.bouton button
{
	margin-bottom: 50px;
	padding: 15px 50px;
	border-radius: 40px;
	background: $degrade;
	border: none;
}
.bouton a button
{
	text-decoration: none;
	color: white;
	font-size: 16px;
}
.bouton a button:hover
{
	box-shadow: $texte 0px 7px 15px;
	filter: brightness(1.1);
}
@media screen and (min-width: 768px) and (max-width: 1293px)
{
    .photo_menu img
    {
        height: 5%;
    }
    .fleche
    {
        margin-left: 50px;
    }
    main
    {
        display: flex;
        flex-direction: column;
        padding-left: 50px;
        padding-right: 40px;
    }
    .coeur
    {
        margin-right: 60px;
    }
}
@media screen and (min-width: 1294px)
{
    .photo_menu img
    {
        height: 400px;
        width: 100%;
    }
    .fleche
    {
        margin-left: 90px;
    }
    main
    {
        display: flex;
        height: 900px;
        flex-direction: column;
        margin-top: -10px;
        border-radius: 0%;
        align-items: center;
    }
    .titre
    {
        width: 100%;
        justify-content: space-around;
        margin-top: 30px;
    }
    .titre h1
    {
        font-size: 35px;
        margin-bottom: 20px;
    }
    .coeur i
    {
        font-size: 35px;
        margin-bottom: 20px;
    }
    .menu
    {
        height: auto;
        width: 30%;
    }
    .detailmenu h2
    {
        font-size: 25px;
        margin-left: -80%;
        margin-top: 20px;
    }
    .detailmenu
    {
        width: 90%;
        height: 550px;
        justify-content: space-around;
        align-items: center;
    }
    .blocmenu
    {
        width: 90%;
        justify-content: space-around;
        flex-direction: row;
        margin-top: 20px;
    }
    .descriptiontarif
    {
        height: 70px;
    }
    h4
    {
        font-size: 20px;
        margin-left: 20px;
        margin-top: 15px;
    }
    
    .description_menu
    {
        font-size: 18px;
        margin-left: 20px;
        margin-top: 10px;
    }
    .tarif
    {
        font-size: 20px;
        margin-right: 20px;
    }
    .bouton button
    {
        width: 400px;
        margin-top: 30px;
    }
    .bouton a button
    {
        font-size: 22px;
    }
}